

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* styling navbar */
.nav-bar ul li{
 list-style: none;
 color: black;
}
.cart{
    text-decoration: none;
    color: black;
}
.nav-bar-logo{
    font-size: 50px;
    color: #E95A08;
    text-decoration: none;
}
.nav-bar ul li a{
    text-decoration: none;
    color: black;
}
.nav-bar{
display: flex;
gap: 590px;

}
.nav-bar-ul{
    display: flex;
    gap: 48px;

}

.nav-bar-ul-div{
    display: flex;
}
.cart-icon{
    margin: 0;
}
.nav-bar-home{
font-size: 16px;
font-weight: bold;
}
.nav-bar-shop{
  font-size: 16px;
  color: #8987A1;
}
.nav-bar-about-us{
    color: #8987A1;
    font-size: 16px;
}
.nav-bar-title{
    margin-left: 150px;
}
.nav-bar-div{
    display: flex;
}
/* styling banner */
.banner-section{
    display: flex;
    width: 1140px;
    height: 461px;
    margin-top: 221px;
    margin-left: 128px;
}
.banner{
    width: 76vh;
    height: 40vh;

}
span{
color: #E95A08;

}
.banner-title{
    font-size: 65px;
    font-weight: bold;
}
.banner-sub-title{
    font-size: 22px;
    color: rgb(163, 161, 161);
}
/* styling plants section */
.plants-section{
    gap: 49px;
}
.plants-section-title{
    font-size: 50px;
    font-weight: bold;
}
.plants-section-sub-title{
    color: rgb(152, 148, 148);
    font-size: 22px;
}
.plants-title-subtitle{
    width: 100%;
    height: 138px;
    justify-content: center;
}
.plants-section-title{
    justify-content: center;
    display: flex;
}
.plants-title-subtitle{
       justify-content: center;
    display: inline-block;
}
.plants-section-sub-title{
    display: flex;
    justify-content: center;
}
.plants-section-title{
justify-content: center;
}
.plants-section-img{
    margin-top: 49px;
}
.plants-money-part{
    display: block;
    justify-content: center;
}

 .plants-card-section{
    width: 153vh;
    height: 160vh;
    gap: 3vh;
 }
.plants-section-name{
    justify-content: center;
    display: flex;
}
.plants-section-money{
    justify-content: center;
     display: flex;
}
.btn-primary{
    width: 36vh;
    height: 6.5vh;
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.title-css{
    width: 36vh;
}
.main-plannts-card-section{
    display: grid;
    grid-template-columns: repeat(4,2fr);

gap: 2.5vh;
width: 153vh;
height: 175vh;
justify-content: center;
margin-left: 140PX;
}
/* plants-lover-section-styling */
.plants-lover-section{
    height: 80vh;
    margin-top: 210px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 0px;
   position: relative;
   gap: 60px;
margin-left: 350px;
}
.plants-lover-section-img-1{

    width: auto;
    height: 80vh;
  width: 72vh;
z-index: 0.4;
}
.plants-lover-section-icon-img{
    width: 38vh;
    height: 38vh;


z-index: 1.2;
position: relative;

margin-right: -650px;
margin-top: -1500px;
margin-bottom: 400px;
}
.plants-lover-section-info{
    margin-top: 100px;
    width: 72vh;
    height: 401px;
    margin-left: 4px;
    margin-top: -30px;

}
.plants-lover-section-info-title-2{
    font-size: 50px;
    font-weight: bold;
}
.plants-lover-section-ul li{
   margin-bottom: 20px;
   font-size: 22px;
   color: #8987A1 
   ;
}
/* styling deals section */
.deals-section-info-title{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
}

.deals-section-info-subtitle{
    display: flex;
    justify-content: center;
    font-size: 22px;
    color: #8987A1;
}
.deals-section-all-img-c-1-1{
    background-image: url(./assets/deal-bloom.png);
   height: 201px;
   width: 367px;
   margin-bottom: 25px;
   border-radius: 14px;
}
.deals-section-all-img-c-1-1-title{
font-size: 20px;
font-weight: bold;
color: white;
}
.deals-section-all-img-c-1-a{
margin-left: 30px;
font-size: 20px;
font-weight: bold;
color: white;

}
 .deals-section-all-img-c-1-1-info{
    height: 500px;
    width: 350px;
    vertical-align: middle;
    display: inline-table;
    margin-left: 80px;
    margin-top: 50px;
 }
 .deals-section-all-img-c-1-2{
background-image: url(./assets/deal-ana.png);
height: 197px;
width: 367px;
border-radius: 14px;

 }
 .deals-section-all-img-c-1-2-title{
    font-size: 20px;
font-weight: bold;
color: white;

 }
 .deals-section-all-img-c-1-2-info{
height: 500px;
width: 350px;
justify-content: center;
align-items: center;
margin-left: 80px;
margin-top: 50px;
display: inline-table;
 }
 .deals-section-all-img-c-1-2-a{
   margin-left: 30px;
font-size: 20px;
font-weight: bold;
color: white;
 }
 .deals-section-img-container{
    width: 1140px;
    height: 423px;
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-left: 150px;
    margin-top: 150px;
 }
 .deals-section-last-img{
    background-image: url(./assets/deal-zabo.png);
    height: 423px;
    width: 753px;
    border-radius: 14px;
 }
 .deals-section-last-img-info{
height: 500px;
width: 350px;
justify-content: center;
align-items: center;
margin-left: 280px;
margin-top: 150px;
display: inline-table;
 }
 .deals-section-last-img-title{
       font-size: 20px;
font-weight: bold;
color: white;
 }
 .deals-section-last-img-a{
       margin-left: 30px;
font-size: 20px;
font-weight: bold;
color: white;
}
.deals-section-info{
    margin-top: 133px;
}
body{
    overflow-x: hidden;
}
/* styling join section */
.join-section{
    background-image: url(./assets/news-letter-bg.png);
    height: 533px;
    width: 1510px;
    margin-top: 120px;
}
.join-section-input{

    border: none;
    width: 644px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.join-section-btn{

    border: none;
    width: 186px;
    height: 53px;
    background-color: #E95A08;
    color: white;
    font-size: 16px;
    font-weight: 400;
   
}
.join-section-all-inputs{
    gap: 0;
    margin: 0;
    display: flex;
     margin-left: 305px;
}
.join-section-title{
    font-size: 50px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
   margin-left: 250px;
    
}
.join-section-text{
    display: inline-table;
    margin-top: 150px;
}
/* styling footer part */
.footer-section{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    width: 1120px;
    height: 248px;
    margin-left: 160px;
    margin-bottom: 50px;
}
.footer-logo-part{
    width: 359px;
    height: 179px;
 
}
.footer-logo-subtitle{
    font-size: 22px;
    color: #8987A1;
}
.a-tag-1 ul li{
list-style: none;
 margin-bottom: 26px;
}
.a-tag-1 ul li a{
    text-decoration: none;
    color: #8987A1;
    
}
.a-tag-2 ul li{
    list-style: none;
    margin-bottom: 26px;
}
.a-tag-2 ul li a{
    text-decoration: none;
     color: #8987A1;
    
}
.footer-logo img{
    margin-right: 24px;
}

/* styling website for mobile */
@media screen and (max-width: 576px) {
    body{
        width: 576px;
    }

    .nav-bar ul li{
        visibility: hidden;
    }
    .nav-bar{
        width: 561px;
        height: 38px;
 
    }
    .cart{
        margin-left: -750px;
        margin-top: 30px;
        width: 113px;
        height: 24px;
    }
    .nav-bar-logo{
        margin-left: -50px;
        width: 63px;
        height: 38px;
    }
    .banner{
        margin-top: 300px;
        width: 361px;
        height: 147px;
    
    }
    .banner-title{
        font-size: 24px;
    }
    .banner-sub-title{
        font-size: 14px;
    }
    .banner-img{
        margin-top: -70px;
        margin-left: -155px;
        width: 393px;
        height: 245px;
    }
    .banner-info{
        margin-left: -120px;
      margin-top: -160px;
        width: 361px;
        height: 147px;
    }
    .plants-section-title{
        font-size: 24px;
        font-weight: bold;
        display: flex;
        justify-content: center;
       
    }
    .plants-section-sub-title{
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin-left: 30px;
        width: 336px;
        height: 68px;
    }
    .plants-title-subtitle{
        width: 393px;
        height: 117px;
        margin-top: -170px;
        margin-bottom: 140px;
        margin-left: 60px;
    }
    .main-plannts-card-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 362px;
  margin-left: 180px;
  gap: 40px;
    }
 .plants-section-img{
    height: 340px;
    width: 171px;
 }
 .plants-section-name{
    font-size: 16px;
    font-weight: 400;
 }
 .plants-section-money{
        font-size: 16px;
    font-weight: 400;
 }

 .btn-primary{
    height: 50px;
    width: 131px;
    margin-left: 20px;
 }
 .main-plannts-card-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   justify-content: center;

    
 }
    

.main-plannts-card-section img{
    width: 170px;
}
.plants-lover-section{
    flex-direction: column;
}
.plants-lover-section-icon-img{
    visibility: hidden;
}
.plants-lover-section-img-1{
    height: 556px;
    width: 500px;
   margin-top: 780px;
    margin-left: 80px;
}
.title-css{
    margin-left: 50px;
}
.plants-lover-section-info{
margin-left: -330px;
height: 234px;
width: 361px;
}

.plants-lover-section{
    margin-top: 300px;
}
.plants-lover-section-info-title-2{
    font-size: 24px;
    font-weight: bold;
}
.plants-lover-section-ul{
    font-size: 14px;
}


.deals-section{
    margin-top: 900px;
    width: 393px;
    height: 117px;
}
.deals-section-info-title-p{
    font-size: 24px;
  
    margin-left: 100px;
}
.deals-section-info-subtitle{
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 336px;
    height: 68px;
    margin-left: 100px;
    margin-top: -60px;
}
.deals-section-all-imgdeals-section-all-img-c-1-1{
    width: 366px;
    height: 206px;
    
}
.deals-section-all-img-c-1-2{
     width: 366px;
    height: 206px;
}

.deals-section-last-img{
         width: 366px;
    height: 206px;
}
.deals-section-img-container{
    flex-direction: column;
    margin-left: -2px;
    margin-left: 85px;
}
.deals-section-last-img-info{
    margin-left: -100px;
}
.deals-section-info{
    margin-left: 30px;
}
.media-stylr-1{
    margin-left: -520px;
}
.media-style-2{
     margin-left: -120px;
}
.media-stylr-2-info{
    margin-left: -90px;
}

.deals-section-last-img-info{
    margin-top: 30px;
    margin-left: 60px;
}
body{
    margin-right: 0px;
    width: 576px;
}
}
@media screen and (max-width: 576px) {
    .join-section{
        margin-top: 800px;
        height: 276px;
        width: 566px;
        margin-left: -10px;
    }
    .nav-bar-cart{
    margin-left: 150px;
    margin-right: -100px;
}
    .join-section-input{
        width: 218px;
        height: 50px;
        font-size: 15px;
    }
    .join-section-btn{
        width: 103px;
        height: 50px;
        font-size: 16px;
    }
    .join-section-title{
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .join-section-text{
        margin-left: -200px;
   margin-top: -100px;
   margin-top: 50px;
    }
        .footer-section{
        flex-direction: column;
        margin-left: -10px;
    }
    .footer-logo{
        margin-left: 30px;
    }
    .footer-logo-part{
        margin-left: 30px;
    }
    body{
        width: 576px;
    }
}


/* styling main part */
